<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <span class=" pull-left">
                    <i class="hidden-xs hidden-sm fa fa-th  fa-4x" aria-hidden="true"></i> </span>
                    <h2 class=" hidden-xs hidden-sm text-center">{{title}} </h2>

                    <i class=" hidden-lg hidden-md fa fa-th  fa-2x" aria-hidden="true"></i> </span>
                    <h6 class=" hidden-lg hidden-md text-center">{{title}} </h6>
                </div>
            </div>
            <div class="modal-body">



                <span class=" center-block text-center">
                <h3 class="hidden-xs hidden-sm">  #: {{id }}</h3>
                 <span class="hidden-lg hidden-md"> Conferece: {{ event }}</span>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>
                <h3 class="hidden-xs hidden-sm"> Conferece: {{ event }}</h3>
                <span class="hidden-lg hidden-md"> Conferece: {{ event }}</span>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>

                <h3 class="hidden-xs hidden-sm"> Host: {{host}}</h3>
                <span class="hidden-lg hidden-md"> Host: {{host}}</span>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>
                <h3 class="hidden-xs hidden-sm">Events Discription:</h3>
                <span class="hidden-lg hidden-md"> Events Discription:</span>

                <p>
                    {{event_disc}}
                </p>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>
                <h3 class="hidden-xs hidden-sm">Start Date: {{end_time}}</h3>
                <span class="hidden-lg hidden-md"> Start Date: {{end_time}}</span>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>
                <h3 class="hidden-xs hidden-sm"> End Date: {{end_time}}</h3>
                <span class="hidden-lg hidden-md">End Date: {{end_time}}</span>
                <div class="  text-center center-block ">
                    <div class=" h-divider "></div>

                </div>
                <h3 class="hidden-xs hidden-sm"> End of Submission: {{sub_end}}</h3>
                <span class="hidden-lg hidden-md">End of Submission: {{sub_end}}</span>

                </span>


            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>