<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">


                    <!--<h2 class="text-center">{{title}} :{{fullName}} </h2>-->
                </div>
            </div>
            <div class="modal-body">


                <span class=" center-block text-center">
                <h3 class="hidden-sm hidden-xs">  #: {{sub_id}}</h3>
                <span class="hidden-sm hidden-xs">  #: {{sub_id}}</span>

                <h3 class="hidden-sm hidden-xs"> Reviewers-Email: {{reviewr}}</h3>
                <span class="hidden-sm hidden-xs"> Reviewers-Email: {{reviewr}}</span>

                <h3 class="hidden-sm hidden-xs"> Rank: {{rank }}</h3>
                <span class="hidden-sm hidden-xs"> Rank: {{rank }}</span>


                <h3 class="hidden-sm hidden-xs"> Feedback: {{feedback}}</h3>
                <span class="hidden-sm hidden-xs"> Feedback: {{feedback}}</span>

                </span>


            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>