<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <span class=" pull-left">
                    <i class="hidden-xs hidden-sm fa fa-th  fa-4x" aria-hidden="true"></i> </span>
                    <h2 class=" hidden-xs hidden-sm text-center">{{fullName}} </h2>

                    <i class=" hidden-lg hidden-md fa fa-th  fa-2x" aria-hidden="true"></i> </span>
                    <h6 class=" hidden-lg hidden-md text-center">{{fullName}} </h6>
                </div>
            </div>
            <div class="modal-body">





                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 text-center">
                    <div class="col-lg-offset-5 col-md-offset-4 col-sm-offset-5 col-xs-offset-2">
                        <img ng-src="{{image}}" class="img-responsive bordered text-center" style="max-width: 140px; max-height: 180px;" alt="{{fullName}}">
                    </div>
                    <div class="col-lg-offset-1 col-md-offset-1">
                        <div class=" h-divider "></div>

                        <h3 class="hidden-xs hidden-sm"> Full Name: {{fullName}}</h3>
                        <span class="hidden-lg hidden-md">  Full Name: {{fullName}}</span>
                        <div class=" h-divider "></div>

                        <h3 class="hidden-xs hidden-sm"> Email: {{email}}</h3>
                        <span class="hidden-lg hidden-md"> Full Name: {{email}}</span>
                        <div class=" h-divider "></div>


                        <h3 class="hidden-xs hidden-sm"> Date of Birth: {{dob}}</h3>

                        <span class="hidden-lg hidden-md"> Date of Birth: {{dob}}</span>
                        <div class=" h-divider "></div>

                        <h3 class="hidden-xs hidden-sm"> Address: {{address}}</h3>
                        <span class="hidden-lg hidden-md"> Address: {{address}}   </span>
                        <div class=" h-divider "></div>

                        <h3 class="hidden-xs hidden-sm"> Institute: {{address}}</h3>
                        <span class="hidden-lg hidden-md"> Institute: {{institute}}   </span>
                        <div class=" h-divider "></div>

                    </div>
                </div>




            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>